<!doctype html>
<html lang="en">
{% load static %}
<head>
  <meta charset="utf-8">
  <title>Tienda</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Favicon and Touch Icons-->
  <!-- <link rel="apple-touch-icon" sizes="180x180" href="{ % static 'dist/img/apple-touch-icon.png"> -->
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'dist/img/favicon-32x32.png'%}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'dist/img/favicon-16x16.png'%}">
  <!-- <link rel="manifest" href="{ % static 'dist/img/site.webmanifest"> -->
  <link rel="mask-icon" color="#5bbad5" href="{% static 'dist/img/safari-pinned-tab.svg'%}">
  <meta name="msapplication-TileColor" content="#766df4">
  <meta name="theme-color" content="#ffffff">

  <!-- Vendor Styles-->
  <link rel="stylesheet" media="screen" href="{% static 'dist/vendor/tiny-slider/dist/tiny-slider.css'%}"/>

  <!-- Main Theme Styles + Bootstrap-->
  <link rel="stylesheet" media="screen" href="{% static 'dist/css/theme.min.css'%}">
  <link rel="stylesheet" href="{% static 'dist/css/simplebar.min.css'%}">
  <link rel="stylesheet" href="{% static 'dist/css/nouislider.min.css'%}">

   <!-- Page loading styles-->
   <style>
    .pagination{
    margin-bottom: 0px;
  }
    .cs-page-loading {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      -webkit-transition: all .4s .2s ease-in-out;
      transition: all .4s .2s ease-in-out;
      background-color: #fff;
      opacity: 0;
      visibility: hidden;
      z-index: 9999;
    }
    .cs-page-loading.active {
      opacity: 1;
      visibility: visible;
    }
    .cs-page-loading-inner {
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      text-align: center;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      -webkit-transition: opacity .2s ease-in-out;
      transition: opacity .2s ease-in-out;
      opacity: 0;
    }
    .cs-page-loading.active > .cs-page-loading-inner {
      opacity: 1;
    }
    .cs-page-loading-inner > span {
      display: block;
      font-size: 1rem;
      font-weight: normal;
      color: #787a80;
    }
    .cs-page-spinner {
      display: inline-block;
      width: 2.75rem;
      height: 2.75rem;
      margin-bottom: .75rem;
      vertical-align: text-bottom;
      background-color: #cfcfd1; 
      border-radius: 50%;
      opacity: 0;
      -webkit-animation: spinner .75s linear infinite;
      animation: spinner .75s linear infinite;
    }
    @-webkit-keyframes spinner {
      0% {
        -webkit-transform: scale(0);
        transform: scale(0);
      }
      50% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
      }
    }
    @keyframes spinner {
      0% {
        -webkit-transform: scale(0);
        transform: scale(0);
      }
      50% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
      }
    }
  </style>

  <!-- Page loading scripts-->
  <script>
    (function () {
      window.onload = function () {
        var preloader = document.querySelector('.cs-page-loading');
        preloader.classList.remove('active');
        setTimeout(function () {
          preloader.remove();
        }, 1000);
      };
    })();
  </script>

  <!-- Demo switcher off-canvas toggle styles -->
  <style>
    .cs-demo-switcher {
      position: fixed;
      display: block;
      top: 50%;
      right: 1rem;
      z-index: 100;
    }
    .cs-demo-switcher-inner {
      width: 3rem;
      height: 3rem;
      border: 1px solid #e5e8ed;
      border-radius: 50%;
      background-color: #fff;
      color: #1e212c;
      font-size: 1.25rem;
      line-height: 3rem;
      text-align: center;
      text-decoration: none;
      box-shadow: 0px 10px 15px 0px rgba(30,33,44,0.10);
    }
  </style>

<!-- Style de Producto-->
<style>
  .cs-range-slider-ui .noUi-handle {
      top: 50% !important;
      width: .875rem !important;
      height: .875rem !important;
      margin-top: -.4375rem !important;
      border: 2px solid #fff !important;
      border-radius: 50% !important;
      box-shadow: none !important;
      background-color: #17696a !important;
  }
  .cs-range-slider-ui {
      height: .125rem !important;
      margin: 3rem 0 !important;
      border: 0 !important;
      background-color: #dadbdd !important;
      box-shadow: none !important;
  }
</style>

</head>
<body>

    <!-- Page loading spinner-->
    <div class="cs-page-loading active">
      <div class="cs-page-loading-inner">
        <div class="cs-page-spinner"></div><span>Loading...</span>
      </div>
    </div>

    <header class="cs-header">
  
      <!-- Navbar -->
      <!-- Remove "navbar-sticky" class to make navigation bar scrollable with the page -->
      <div class="navbar navbar-expand-lg navbar-light bg-light navbar-sticky" data-fixed-element>
        <div class="container px-0 px-xl-3">
          <a href="index.html" class="navbar-brand order-lg-1 mr-0 pr-lg-3 mr-lg-4">
            <img src="assets/img/ecommerce/logo.svg" alt="Createx Logo" width="130">
          </a>
          <!-- Search desktop -->
          <div class="input-group-overlay ml-4 d-lg-block d-none order-lg-3" style="max-width: 21rem;">
            <input class="form-control appended-form-control" type="text" placeholder="Search for products...">
            <div class="input-group-append-overlay">
              <span class="input-group-text"><i class="cxi-search lead align-middle"></i></span>
            </div>
          </div>
          <!-- Toolbar -->
          <div class="d-flex align-items-center order-lg-3">
            <ul class="nav nav-tools flex-nowrap">
              <li class="nav-item d-lg-block d-none mb-0">
                <a href="account-wishlist.html" class="nav-tool">
                  <i class="cxi-heart nav-tool-icon"></i>
                  <span class="nav-tool-label">2</span>
                </a>
              </li>
              <li class="divider-vertical mb-0 d-lg-block d-none"></li>
              <li class="nav-item align-self-center mb-0">
                <a href="#" class="nav-tool pr-lg-0" data-toggle="offcanvas" data-target="cart">
                  <i class="cxi-cart nav-tool-icon"></i>
                  <span class="badge badge-success align-middle mt-n1 ml-2 px-2 py-1 font-size-xs">4</span>
                </a>
              </li>
              <li class="divider-vertical mb-0 d-lg-none d-block"></li>
              <li class="nav-item mb-0">
                <button class="navbar-toggler mt-n1 mr-n3" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-expanded="false">
                  <span class="navbar-toggler-icon"></span>
                </button>
              </li>
            </ul>
          </div>
          <!-- Navbar collapse -->
          <nav class="collapse navbar-collapse order-lg-2" id="navbarCollapse">
            <!-- Search mobile -->
            <div class="input-group-overlay form-group mb-0 d-lg-none d-block">
              <input type="text" class="form-control prepended-form-control rounded-0 border-0" placeholder="Search for products...">
              <div class="input-group-prepend-overlay">
                <span class="input-group-text">
                  <i class="cxi-search font-size-lg align-middle mt-n1"></i>
                </span>
              </div>
            </div>
            <!-- Menu -->
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a href="index.html" class="nav-link active">Home</a>
              </li>
              <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Shop</a>
                <ul class="dropdown-menu">
                  <li><a href="shop-catalog.html" class="dropdown-item">Catalog with Filters</a></li>
                  <li><a href="shop-single.html" class="dropdown-item">Single Product</a></li>
                  <li><a href="checkout.html" class="dropdown-item">Checkout</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown mega-dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Megamenu</a>
                <div class="dropdown-menu">
                  <div class="container pt-lg-1 pb-lg-3">
                    <div class="row">
                      <div class="col-lg-2 col-md-3 py-2">
                        <ul class="list-unstyled">
                          <li><a href="#" class="dropdown-item">New collection</a></li>
                          <li><a href="#" class="dropdown-item">Best sellers</a></li>
                          <li><a href="#" class="dropdown-item">Plus size</a></li>
                          <li><a href="#" class="dropdown-item text-danger">Sale up to 70%</a></li>
                        </ul>
                      </div>
                      <div class="col-lg-2 col-md-3 py-2">
                        <h4 class="font-size-sm text-uppercase pt-1 mb-2">Clothes</h4>
                        <ul class="list-unstyled">
                          <li><a href="#" class="dropdown-item">Coats</a></li>
                          <li><a href="#" class="dropdown-item">Jackets</a></li>
                          <li><a href="#" class="dropdown-item">Suits</a></li>
                          <li><a href="#" class="dropdown-item">Dresses</a></li>
                          <li><a href="#" class="dropdown-item">Cardigans &amp; sweaters</a></li>
                          <li><a href="#" class="dropdown-item">Sweatshirts &amp; hoodies</a></li>
                          <li><a href="#" class="dropdown-item">T-shirts &amp; tops</a></li>
                          <li><a href="#" class="dropdown-item">Pants</a></li>
                          <li><a href="#" class="dropdown-item">Jeans</a></li>
                          <li><a href="#" class="dropdown-item">Shorts</a></li>
                          <li><a href="#" class="dropdown-item">Skirts</a></li>
                          <li><a href="#" class="dropdown-item">Lingerie &amp; nightwear</a></li>
                          <li><a href="#" class="dropdown-item">Sportswear</a></li>
                        </ul>
                      </div>
                      <div class="col-lg-2 col-md-3 py-2">
                        <h4 class="font-size-sm text-uppercase pt-1 mb-2">Shoes</h4>
                        <ul class="list-unstyled">
                          <li><a href="#" class="dropdown-item">Boots</a></li>
                          <li><a href="#" class="dropdown-item">Flat shoes</a></li>
                          <li><a href="#" class="dropdown-item">Heels</a></li>
                          <li><a href="#" class="dropdown-item">Sandals</a></li>
                          <li><a href="#" class="dropdown-item">Mules</a></li>
                          <li><a href="#" class="dropdown-item">Sliders</a></li>
                          <li><a href="#" class="dropdown-item">Slippers</a></li>
                          <li><a href="#" class="dropdown-item">Sneakers</a></li>
                          <li><a href="#" class="dropdown-item">Leather</a></li>
                        </ul>
                      </div>
                      <div class="col-lg-2 col-md-3 py-2">
                        <h4 class="font-size-sm text-uppercase pt-1 mb-2">Accessories</h4>
                        <ul class="list-unstyled">
                          <li><a href="#" class="dropdown-item">Bags &amp; backpacks</a></li>
                          <li><a href="#" class="dropdown-item">Hats &amp; scarves</a></li>
                          <li><a href="#" class="dropdown-item">Hair accessories</a></li>
                          <li><a href="#" class="dropdown-item">Belts</a></li>
                          <li><a href="#" class="dropdown-item">Jewellery</a></li>
                          <li><a href="#" class="dropdown-item">Watches</a></li>
                          <li><a href="#" class="dropdown-item">Sunglasses</a></li>
                          <li><a href="#" class="dropdown-item">Purses</a></li>
                          <li><a href="#" class="dropdown-item">Socks &amp; tights</a></li>
                        </ul>
                      </div>
                      <div class="col-lg-1 d-none d-lg-block py-2">
                        <span class="divider-vertical h-100 mx-auto"></span>
                      </div>
                      <div class="col-lg-3 d-none d-lg-block py-2">
                        <a href="#" class="d-block text-decoration-none pt-1">
                          <img src="assets/img/ecommerce/megamenu.jpg" class="d-block rounded mb-3" alt="Promo banner">
                          <h5 class="font-size-sm mb-3">Back to school. Sale up to 50%</h5>
                          <div class="btn btn-outline-primary btn-sm">
                            See offers
                            <i class="cxi-arrow-right ml-1"></i>
                          </div>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </header>

    {% block contenido %}

    {% endblock contenido %}

    <footer class="cs-footer pt-sm-5 pt-4 bg-dark">
        <div class="container pt-3">
        <div class="row pb-sm-2">
            <div class="col-6 col-sm-3 col-lg-2 mb-4">
            <h3 class="h6 mb-2 pb-1 text-uppercase text-light">Help</h3>
            <ul class="nav nav-light flex-column">
                <li class="nav-item mb-2">
                <a href="#" class="nav-link mr-lg-0 mr-sm-4 p-0 font-weight-normal">Delivery &amp; returns</a>
                </li>
                <li class="nav-item mb-2">
                <a href="contacts.html" class="nav-link mr-lg-0 mr-sm-4 p-0 font-weight-normal">FAQ</a>
                </li>
                <li class="nav-item mb-2">
                <a href="order-tracking.html" class="nav-link mr-lg-0 mr-sm-4 p-0 font-weight-normal">Track order</a>
                </li>
                <li class="nav-item mb-2">
                <a href="blog.html" class="nav-link mr-lg-0 mr-sm-4 p-0 font-weight-normal">Blog</a>
                </li>
                <li class="nav-item mb-2">
                <a href="contacts.html" class="nav-link mr-lg-0 mr-sm-4 p-0 font-weight-normal">Contacts</a>
                </li>
            </ul>
            </div>
            <div class="col-6 col-sm-3 col-lg-2 col-xl-3 mb-4">
            <h3 class="h6 mb-2 pb-1 text-uppercase text-light pl-xl-6">Shop</h3>
            <ul class="nav nav-light flex-column pl-xl-6">
                <li class="nav-item mb-2">
                <a href="#" class="nav-link mr-lg-0 mr-sm-4 p-0 font-weight-normal">New arrivals</a>
                </li>
                <li class="nav-item mb-2">
                <a href="#" class="nav-link mr-lg-0 mr-sm-4 p-0 font-weight-normal">Trending now</a>
                </li>
                <li class="nav-item mb-2">
                <a href="#" class="nav-link mr-lg-0 mr-sm-4 p-0 font-weight-normal">Sales</a>
                </li>
                <li class="nav-item mb-2">
                <a href="#" class="nav-link mr-lg-0 mr-sm-4 p-0 font-weight-normal">Brands</a>
                </li>
            </ul>
            </div>
            <div class="col-sm-6 col-lg-3 pb-2 pb-lg-0 mb-4">
            <h3 class="h6 mb-2 pb-1 text-uppercase text-light">Get in Touch</h3>
            <ul class="nav nav-light flex-column pb-3">
                <li class="nav-item text-nowrap mb-2">
                <span class="text-light mr-1">Call:</span>
                <a href="tel:4055550128" class="nav-link d-inline-block mr-lg-0 mr-sm-4 p-0 font-weight-normal">(405) 555-0128</a>
                </li>
                <li class="nav-item text-nowrap mb-2">
                <span class="text-light mr-1">Email:</span>
                <a href="mailto:support@example.coms" class="nav-link d-inline-block mr-lg-0 mr-sm-4 p-0 font-weight-normal">support@example.com</a>
                </li>
            </ul>
            <a href="#" class="social-btn sb-solid sb-light mr-2">
                <i class="cxi-facebook"></i>
            </a>
            <a href="#" class="social-btn sb-solid sb-light mr-2">
                <i class="cxi-instagram"></i>
            </a>
            <a href="#" class="social-btn sb-solid sb-light mr-2">
                <i class="cxi-twitter"></i>
            </a>
            <a href="#" class="social-btn sb-solid sb-light mr-2">
                <i class="cxi-youtube"></i>
            </a>
            <a href="#" class="social-btn sb-solid sb-light">
                <i class="cxi-pinterest"></i>
            </a>
            </div>
            <div class="col-lg-4 col-xl-3 mb-4">
            <h3 class="h6 mb-3 pb-1 text-uppercase text-light">Download our App</h3>
            <div class="d-flex flex-wrap flex-sm-nowrap">
                <a href="#" class="btn-market btn-apple mb-3 mr-3" role="button">
                <span class="btn-market-subtitle">Download on the</span>
                <span class="btn-market-title">App Store</span>
                </a>
                <a href="#" class="btn-market btn-google mb-3" role="button">
                <span class="btn-market-subtitle">Download on the</span>
                <span class="btn-market-title">Google Play</span>
                </a>
            </div>
            </div>
        </div>
        </div>
        <div class="border-top border-light">
            <div class="container py-4">
                <div class="font-size-xs text-light">
                <span class="font-size-sm">&copy; </span>
                All rights reserved. Made with 
                <i class="cxi-heart mt-n1 mx-1 font-size-base text-primary align-middle"></i>
                <a href="https://createx.studio/" class="text-light" target="_blank" rel="noopener noreferrer">by Createx Studio</a>
                </div>
            </div>
        </div>
  </footer>


  <!-- Back to top button-->
  <a class="btn-scroll-top" href="#top" data-scroll data-fixed-element>
    <span class="btn-scroll-top-tooltip text-muted font-size-sm mr-2">Top</span>
    <i class="btn-scroll-top-icon cxi-angle-up"></i>
  </a>

  <!-- Vendor scripts: js libraries and plugins-->
  <script src="{% static 'dist/vendor/jquery/dist/jquery.slim.min.js'%}"></script>
  <script src="{% static 'dist/vendor/bootstrap/dist/js/bootstrap.bundle.min.js'%}"></script>
  <script src="{% static 'dist/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js'%}"></script>

  <script src="{% static 'dist/js/simplebar.min.js'%}"></script>
  <script src="{% static 'dist/js/nouislider.min.js'%}"></script>
  <script src="{% static 'dist/js/smooth-scroll.polyfills.min.js'%}"></script>

  <!-- Main theme script-->
  <script src="{% static 'dist/js/theme.min.js'%}"></script>

</body>


</html>





