{% extends "base.html" %}}

{% load static %}
{% block contenido %}
<main class="cs-page-wrapper">

    <!-- Breadcrumb -->
    <nav class="bg-secondary mb-3" aria-label="breadcrumb">
        <div class="container">
            <ol class="breadcrumb breadcrumb-alt mb-0">
            <li class="breadcrumb-item">
                <a href="{% url 'index' %}"><i class="fa-solid fa-house"></i></a>
            </li>
            <li class="breadcrumb-item" aria-current="page">Inicio</li>
            <li class="breadcrumb-item">
                <i class="fa-solid fa-angle-right"></i>
            </li>
            <li class="breadcrumb-item active" aria-current="page">KPI Profesional</li>
            </ol>
            
        </div>
    </nav>

      <!-- Page container -->
      <section class="container pt-3 pt-lg-4 pb-5 pb-lg-6">
        <div class="row pb-2 pb-lg-0">

          <!-- Account menu (sticky sidebar) -->
          <aside class="col-xl-3 col-lg-4 pb-3 mb-4 mb-lg-0">
            <div class="sidebar-sticky" data-sidebar-sticky-options='{
              "topSpacing": 120,
              "minWidth": 991
            }'>
              <div class="sidebar-sticky-inner">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title mb-1">Cuenta Profesional</h5>
                    <p class="card-text text-muted mb-lg-0">{{user.username}}</p>

                    <a href="#account-menu" class="btn btn-primary btn-block d-lg-none" data-toggle="collapse">Menú Cuenta</a>
                  </div>
                  <div id="account-menu" class="collapse d-lg-block">
                    <div class="list-group list-group-flush border-top">
                      
                      <a href="{% url 'perfilProfesional' %}" class="list-group-item list-group-item-action d-flex align-items-center">
                        <i class="fa-regular fa-user font-size-sm mr-2"></i>
                        <span>Mi Perfil</span>
                      </a>
                      <a href="{% url 'perfilProfesionalKpi' %}" class="list-group-item list-group-item-action d-flex align-items-center active">
                        <i class="fa-solid fa-chart-line font-size-sm mr-2"></i>
                        <span>KPI</span>
                      </a>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </aside>

          <!-- Content -->
          <div class="col-lg-8 ml-auto">
            <div class="d-flex align-items-center justify-content-between mb-4 pb-1 pb-sm-3">
              <h1 class="h2 mb-0">KPI</h1>
            </div>
            <div class="row">
              <div class="col-6">
                <div class="card border-0 shadow card-hover">
                  <div class="card-body">
                    <h5 class="card-title text-center">Cantidad de Asesorias Realizadas</h5>
                    <p class="card-text text-center fs-sm">Asesorias Asignadas {{asesoria_profesional}}</p>
                    <p class="card-text text-center fs-sm">Total de Asesoria {{porcentaje}}%</p>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="card border-0 shadow card-hover">
                  <div class="card-body">
                    <h5 class="card-title text-center">Cantidad total de Asesorias</h5>
                    <p class="card-text text-center fs-sm">Total de Asesorias {{asesoria_total}}</p>
                    <p class="card-text text-center fs-sm">100%</p>
                  </div>
                </div>
              </div>
              
            </div>

            <div class="col-auto text-center mt-4">
              <br>
              <a href="{% url 'pdf_kpi' %}" class="btn btn-danger" target="_blank"><i class="fa-solid fa-file-pdf font-size-sm"></i>&nbsp;PDF&nbsp;</a>
            </div>

          </div>
        </div>
      </section>

</main>
{% endblock contenido %}