{% extends "base.html" %}}

{% load static %}
{% block contenido %}
<main class="cs-page-wrapper">
    <h3 class="text-center">Elige tu Opción</h3>
    
    <section class="container pt-3 pt-md-4 pb-3 pb-sm-4 pb-lg-5 mb-4">
        <div class="row">
            <div class="col-6">
                <!-- Vertical pricing plan alt -->
                <div class="card card-hover shadow">
                    <div class="card-img-top text-center pt-4">
                    <h3 class="mt-3 mb-2">Básico</h3>
                    </div>
                    <div class="card-body pt-0">
                    <div class="display-4 d-flex justify-content-center mb-3 py-2 px-4 text-primary">
                        CLP 11.990
                        <sup class="lead fw-bold mt-4 ms-2">/Mes</sup>
                    </div>
                    <hr class="hr-gradient mx-n4 mb-4">
                    <ul class="list-unstyled d-table mx-auto mb-0 pb-2">
                        <li class="d-flex align-items-center mb-2">
                        <i class="fa-solid fa-check text-primary mr-2"></i>
                        <span>Analisis Empresarial</span>
                        </li>
                        <li class="d-flex align-items-center mb-2 opacity-95">
                        <i class="fa-solid fa-xmark text-muted mr-2"></i>
                        <span class="text-muted">Capacitación</span>
                        </li>
                        <li class="d-flex align-items-center mb-2 opacity-95">
                        <i class="fa-solid fa-xmark text-muted mr-2"></i>
                        <span class="text-muted">Informes de Estado</span>
                        </li>
                        <li class="d-flex align-items-center mb-2 opacity-95">
                        <i class="fa-solid fa-xmark text-muted mr-2"></i>
                        <span class="text-muted">Indicaciones de mejora</span>
                        </li>
                        <li class="d-flex align-items-center mb-2 opacity-95">
                        <i class="fa-solid fa-xmark text-muted mr-2"></i>
                        <span class="text-muted">Registro de Accidentes</span>
                        </li>
                        <li class="d-flex align-items-center mb-2 opacity-95">
                        <i class="fa-solid fa-xmark text-muted mr-2"></i>
                        <span class="text-muted">Visitas Terreno</span>
                        </li>
                        <li class="d-flex align-items-center mb-2 opacity-95">
                        <i class="fa-solid fa-xmark text-muted mr-2"></i>
                        <span class="text-muted">Asistencia las 24H</span>
                        </li>
                    </ul>
                    </div>
                    <div class="card-footer pt-0 border-0 text-center">
                    <a class="btn btn-outline-danger disabled mb-4">Elegir Plan</a>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <!-- Featured vertical pricing plan alt -->
                <div class="card card-hover shadow border-success bg-dark">
                    <div class="card-img-top text-center pt-4">
                    <h3 class="mt-3 mb-2 text-white">Plus</h3>
                    </div>
                    <div class="card-body pt-0">
                    <div class="display-4 d-flex justify-content-center mb-3 py-2 px-4 text-success">
                        CLP 69.990
                        <sup class="lead fw-bold mt-4 ms-2">/Mes</sup>
                    </div>
                    <hr class="hr-gradient hr-light mx-n4 mb-4">
                    <ul class="list-unstyled d-table mx-auto mb-0 pb-2">
                        <li class="d-flex align-items-center mb-2">
                        <i class="fa-solid fa-check text-success mr-2"></i>
                        <span class="text-white">Analisis Empresarial</span>
                        </li>
                        <li class="d-flex align-items-center mb-2">
                        <i class="fa-solid fa-check text-success mr-2"></i>
                        <span class="text-white">Capacitación</span>
                        </li>
                        <li class="d-flex align-items-center mb-2">
                        <i class="fa-solid fa-check text-success mr-2"></i>
                        <span class="text-white">Informes de Estado</span>
                        </li>
                        <li class="d-flex align-items-center mb-2">
                        <i class="fa-solid fa-check text-success mr-2"></i>
                        <span class="text-white">Indicaciones de mejora</span>
                        </li>
                        <li class="d-flex align-items-center mb-2">
                        <i class="fa-solid fa-check text-success mr-2"></i>
                        <span class="text-white">Registro de Accidentes</span>
                        </li>
                        <li class="d-flex align-items-center mb-2">
                        <i class="fa-solid fa-check text-success mr-2"></i>
                        <span class="text-white">Visitas Terreno</span>
                        </li>
                        <li class="d-flex align-items-center mb-2">
                        <i class="fa-solid fa-check text-success mr-2"></i>
                        <span class="text-white">Asistencia las 24H</span>
                        </li>
                    </ul>
                    </div>
                    <div class="card-footer pt-0 border-0 text-center">
                    <a class="btn btn-primary mb-4" href="#">Elegir Plan</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
</main>
{% endblock contenido %}
