{% extends "base.html" %}}

{% load static %}
{% block contenido %}
<main class="cs-page-wrapper">

    <section>
        <div class="container w-50 m-auto text-center" id="equipo">
            <h1 class="mb-5 fs-2">Somos un gran equipo <span class="text-primary">en busca de resultados exitosos</span>.</h1>
            <p class="fs-4 "> Como empresa tenemos la mision de asesorarte en busca de minimizar y/o anular todo riesgo laboral que lleve consigo la empresa, mejorando los ambientes de trabajo, la productividad y contribuyendo al ahorro economico.</p>
            <p class="fs-4 "> Como vision de la empresa tenemos las expectativas de expandirnos a multiples empresas y poder ayudarlos en su desempeño expandiendose a nivel global y mejorando la calidad de vida de contratadores y trabajadores.</p>
        </div>
    
        <div class="mt-5 mb-5 text-center">
            <img id="img-equipo" src="{% static 'Img/equipo.jpg' %}" alt="equipo">
        </div>
    <section>
</main>
{% endblock contenido %}
